{{- $asin := index .Params 0 -}}
{{- $amazon_product_json_url := getenv "AMAZON_PRODUCT_JSON_URL" -}}
{{- $json := getJSON $amazon_product_json_url $asin -}}

<div class="amazon-shortcode-box">
  <div class="amazon-shortcode-image">
    <a href="{{ $json.URL }}" name="amazon-shortcode" target="_blank">
      <img src="{{ $json.MediumImage }}" alt="{{ $json.Title }}"></img>
    </a>
  </div>
  <div class="amazon-shortcode-info">
    <p class="amazon-shortcode-title">
      <a href="{{ $json.URL }}" name="amazon-shortcode" target="_blank">
        {{ $json.Title }}
      </a>
    </p>
    {{ with $json.Creator }}
      <p class="amazon-shortcode-detail">{{ . }}</p>
    {{ end }}
    {{ with $json.Manufacturer }}
      <p class="amazon-shortcode-detail">{{ . }}</p>
    {{ end }}
  </div>
</div>
